
    
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
   font-optical-sizing: auto;
   font-weight:weight;
   font-style: normal;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}



/* Navbar */
.navbar {
   height: 5rem;
   background-color: white;
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
    padding-top: 8px;
    padding-left: 17px;
}


  .navbar-collapse {
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}


.navbar-collapse .nav-link {
  color: #333 !important;
   font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  display: block;
}


.navbar-collapse .nav-link:hover {
  color: #ff385c !important;
  font-weight: 500;  
}


@media (max-width: 768px) {
  .navbar-collapse {
    background: #fff !important;
    position: absolute;
    top: 56px;      
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  }
}


.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.f-info-socials i{
    font-size: 1.2rem;
   margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top {
    border-radius:  1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}
.card-body{
    padding: 0 !important;
}
.card-text {

  padding-top: 1rem;
  font-weight: 330;
  
   
     
  
}
.listing-link{
    text-decoration: none;
}

/* Card Effact */
/* .card-img-overlay{
    opacity: 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
} */
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: #ffffff; 
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: 0.3s;
    cursor: pointer;
    

}

.abb-btn {
    background-color: #bd2832ff ;
     border: none;
}
/* show page */
.show-image{
    height: 45vh;
  
     object-fit: cover;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
/* Map */
#map-id{
    height: 400px;
    width: 80vh;
}

#map-id {
  width: 100%;
  height: 400px; /* default for desktop */
  border-radius: 10px;
}

@media (max-width: 768px) {
  #map-id {
    height: 300px; /* tablet */
  }
}

@media (max-width: 480px) {
  #map-id {
    height: 200px; /* mobile */
  }
}


.review-time {
  font-size: 0.75rem; 
  color: #6c757d;   
}

.starability-slot {
  font-size: 0.75rem; 
  color: #6c757d; 
}

  @media (max-width: 640px) {
    .form-container {
      width: 100%;      
      margin: 1rem;      
      padding: 1.5rem;  
    }
  }

  /* footer */

  .footer {
  background:  #F5F5F5;
  font-size: 14px;
  color: #222;
}

.footer h6 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #180808;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #000;
}

.footer-social a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
}

.footer-social a:hover {
  color: #000;
}



/* second footer */
/* Explore other options section */
.explore-options {
   background:  #F5F5F5;
   font-size: 14px;
  font-weight: 600;
  font-size: 14px;
}

.explore-options h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.explore-links li {
  margin-bottom: 0.5rem;
}

.explore-links a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.explore-links a:hover {
  
  text-decoration: underline;
}


/* country style */
 @media (min-width: 768px) {
    .map-wrapper {
      padding-left: 70px !important; /* Left padding in px */
      padding-right: 70px !important; /* Right padding in px */
    }
  }